.pagination {
    display: flex;
    text-align: center;
    justify-content: center;
  }
.pagination li {
    list-style: none;
}
.pagination a {
color: black;
float: left;
padding: 4px 4px;
text-decoration: none;
border: white 1px solid;
width: 20px;
}